@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Garamond:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MeieScript:wght@300;400&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
  }

:root{
    --green: #9fc754;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
}
.navbar .container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-brand{
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
}
.site-brand span{
    font-weight: 300;
}
#navbar-show-btn{
    background: transparent;
    color: #fff;
    font-size: 2rem;
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
}
#navbar-show-btn:hover{
    opacity: 1;
}

/* navbar side menu */
#navbar-collapse{
    background-color: var(--green);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2.65rem;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.navbar-collapse-rmw{
    /* js related */
    -webkit-transform: translateX(0)!important;
        -ms-transform: translateX(0)!important;
            transform: translateX(0)!important;
}
#navbar-close-btn{
    background: none;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: none;
}
#navbar-close-btn:hover{
    background-color: #fff;
    color: var(--green);
}
.navbar-nav{
    margin-top: 5rem;
}
.nav-item{
    margin: 1.6rem 0;
}
.nav-link{
    color: #fff;
    font-size: 1.2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.nav-link:hover{
    opacity: 0.8;
}

/* header */
header{
    min-height: 100vh;
    /* padding-top: 7rem; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/header-bg.jpg) center/cover no-repeat; */
    /* background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-bg.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-bg.jpg) center/cover no-repeat; */
    background-image: url(/img/pexels-anete-lusina-4792668.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: rgb(1, 1, 1);
    text-align: center;
}
.header-title h1{
    font-size: 2rem;
    letter-spacing: 2px;
    -webkit-animation: bounce-in-top 1.1s both;
            animation: bounce-in-top 1.1s both;
}
.header-title p{
    margin: 1rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
}

/* @-webkit-keyframes bounce-in-top{
    0%{
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }
    38%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        -webkit-transform: translateY(-65px);
                transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81%{
        -webkit-transform: translateY(-28px);
                transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    90%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95%{
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
} */

@keyframes bounce-in-top{
    0%{
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }
    38%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        -webkit-transform: translateY(-65px);
                transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81%{
        -webkit-transform: translateY(-28px);
                transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    90%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95%{
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

.header-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 0.2rem;
}
.header-form h3{
    font-size: 1.2rem;
}
.header-form form{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.8rem;
}
.header-form form .form-control{
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.header-form input[type = "date"]{
    text-transform: uppercase;
}
.header-form input:not([type = "submit"])::-webkit-input-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"])::-moz-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"]):-ms-input-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"])::-ms-input-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"])::placeholder{
    color: #fff;
}
::-webkit-calendar-picker-indicator{
    -webkit-filter: invert(1);
            filter: invert(1);
}
.header-form .btn{
    margin-top: 0.8rem;
}

/* change background on scroll */
.navbar-cng{
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
            box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.navbar-cng .site-brand{
    color: var(--dark);
}
.navbar-cng .site-brand span{
    color: var(--green);
}
.navbar-cng #navbar-show-btn{
    color: var(--green);
}


section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-wrap{
    text-align: center;
}


/* featured */

.featured-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.featured-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    overflow: hidden;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
    transition: var(--trans);
}
/* .featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
} */
.featured-item-content .text{
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item:hover .featured-item-content{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}



section .info .three{
    display: flex;
    align-items: center;
    padding: 100px 100px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .info h3{
    position: relative;
    text-align: center;
    font-size: 3rem;
    top: 35px;
    font-family: 'Mr Dafoe';
  }
  
  .titre-texte{
    text-align: center;
    color: #111;
    font-size: 2em;
    font-weight: 300;
  }
  
  .titre-texte2{
    text-align: center;
    color: #111;
    font-size: 2em;
    font-weight: 300;
    background-color: rgb(217, 195, 98);
    color: white;
    margin-top: 50px;
  }
  
  .box{
    min-height: 500px;
    height: 420px;
    float: left;
    width: 31.33333%;
    margin: 0 3% 0 0;
    padding: 20px;
  
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 0 0 20px;
    background-color: #d3e1b0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .box p{
    
  }
  
  .box1{
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./img/UNI72763.jpg); */
    /* background-position:center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* filter: blur(2px); */
  }
  
  .three .box{
    border-radius: 5px;
  }
  
  .three .box a:nth-child(1){
    position: relative;
    top: 400px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: #000;
    transition: 0.5s;
  }
  
  .three .box a:nth-child(1):hover{
    background-color: #9fc754;
    color: white;
  }
  
  .three .box1{
    width: 450px;
    height: 400px;
    background-image: url();
    background-color: rgb(157, 59, 59);
  }
  
  .three .box1 p{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    z-index: 2;
  }
  
  .three .box2{
    width: 450px;
    height: 400px;
    background-color: rgb(157, 59, 59);
  }
  
  
  .three .box2 p{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
    color: white;
  }
  
  .three .box3{
    width: 450px;
    height: 400px;
    background-color: rgb(157, 59, 59);
  }
  
  .three .box3 p{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
    color: white;
  }
  
  .three .card1{
    background-image: url(/img/UNI72763.jpg);
  }
  .three .card2{
    background-image: url(/img/bg2.jpg);
  }
  .three .card3{
    background-image: url(/img/bg3.jpg);
  }
  .three .card4{
    background-image: url(/img/bg4.jpg);
  }
  .three .card5{
    background-image: url(/img/bg5.jpg);
  }
  .three .card6{
    background-image: url(/img/bg6.jpg);
  }
  .three .card7{
    background-image: url(/img/bg7.jpg);
  }
  .three .card8{
    background-image: url(/img/bg8.jpg);
  }
  




/*---------------------------- Footer --------------------------------- */

footer{
    /* background: url(./img/pexels-anete-lusina-4792658.jpg) no-repeat; */
    background-color: rgb(14, 49, 99);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
  }
  
  
  
  footer .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 10px 5%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem; */
  }
  
  footer .box-container .boxx{
    /* background-color: #9fc754; */
    padding: 25px 5%;
  }
  
  footer .box-container .boxx h3{
    display: flex;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  
  footer .box-container .boxx a{
    color: var(--white);
    font-size: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  footer .box-container .boxx a i{
    color: white;
    transition: .2s linear;
  }
  
  footer .box-container .boxx a:hover i{
    padding-right: 1rem;
  }
  
  footer .box-container .boxx a{
    transition: .2s linear;
  }
  
  footer .box-container .boxx a:hover{
    padding-right: 1rem;
  }
  
  footer .box-container .boxx form input{
    padding: 0.5rem;
  
  }
  
  /* footer .box-container .boxx a .footerImg{
    display: inline-block;
  } */
  
  /* footer .box-container .boxx a .footerImg:hover i{
    padding-right: 2rem;
  } */


/* img modal box */
#img-modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: none;
}
#img-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
}
#img-mdoal img{
    max-width: 100%;
    height: 100%;
}
#img-modal-box button{
    position: absolute;
    font-size: 1.4rem;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
}
#img-modal-box button:hover{
    opacity: 0.9;
}
#modal-close-btn{
    top: -17.5px;
    right: -17.5px;
    z-index: 999;
}
#next-btn{
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
#prev-btn{
    top: 50%;
    left: 1rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
#next-btn:hover, #prev-btn:hover{
    background-color: var(--dark);
    color: #fff;
}

/* popular section */
#popular.py-4{
    padding-bottom: 0;
}
.popular-item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.popular-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.popular-item div{
    position: absolute;
    color: #fff;
    z-index: 2;
    bottom: -100%;
    width: 100%;
    padding: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.popular-item .rating{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0.7rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 0;
}
.popular-item:hover div{
    background-color: #fff;
    color: #000;
    bottom: 0;
    opacity: 0.95;
}

/* ### BLOG PAGE ### */
/* blog */
#blog{
    background-color: var(--light-grey);
}
.blog-item{
    background-color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.blog-item-top{
    position: relative;
}
.blog-date{
    position: absolute;
    background-color: var(--green);
    color: #fff;
    padding: 0.5rem;
    height: 38px;
    min-width: 160px;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: -19px;
    left: 5%;
}
.blog-item-bottom{
    padding: 2rem 1rem;
}
.blog-item-bottom span{
    text-transform: uppercase;
    color: var(--dark);
    opacity: 0.7;
    letter-spacing: 2px;
    display: block;
    margin-top: 1rem;
}
.blog-item-bottom a{
    margin: 1rem 0;
    font-size: 1.4rem;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    line-height: 1.6;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.blog-item-bottom a:hover{
    opacity: 0.8;
}

/* ### ABOUT PAGE ### */
/* about */
.about-right .text{
    margin-bottom: 1rem;
}
.about-right h2{
    margin-bottom: 2.5rem;
}

/* facts */
#facts{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/facts-img.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/facts-img.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/facts-img.jpg) center/cover no-repeat;
    min-height: 80vh;
}
#facts .title-wrap{
    color: #fff;
}
#facts .sm-title{
    color: #fff;
}
.facts-item{
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.facts-icon{
    font-size: 3.2rem;
}
.facts-info strong{
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}
.facts-info .text{
    text-transform: uppercase;
}

/* ### CONTACT PAGE ### */
/* contact */
.contact-form .form-control{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    display: block;
    margin: 1.6rem auto;
}
.contact-form .btn{
    display: block;
    margin: auto;
}
.contact-icon{
    background-color: var(--green);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 1rem auto;
    font-size: 2rem;
}
.contact-item{
    text-align: center;
    margin: 3rem 0;
}
.contact-item div span{
    font-weight: 600;
    font-family: "Ralway", sans-serif;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
}